<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheNewsPro - Your message has been recorded.</title>
</head>
<body>
    <div style="text-align: center; width: 99%; margin: 10px auto; border: 1px solid black; border-radius: 10px;">
      <img src="https://images.unsplash.com/photo-1588681664899-f142ff2dc9b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmV3c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..." width="100%" height="350px" style="border-top-right-radius: 10px; border-top-left-radius: 10px;">

      <h1 style="margin-top: 10px;">Your message has been recorded</h1>
      <p style="padding: 5px 20px;">Our team will look into your message and will let you know about the advancements we will make. You will be updated in your inbox through email.</p>

      <p style="padding: 5px 20px;">Thank you for reaching to us.</p>
    </div>
</body>
</html>